body{
    background-color: rgb(66, 36, 36);
}
#battery{
    width: 2rem !important;
}

/* contener de abajo */
#box2 {
	column-width: 40%;
    column-gap: 8px;
    column-count: 3;
    width: 90%;
	max-width: 425px;
    margin: 3px auto;
    max-height: auto;
    min-height: 10em;
    margin-bottom: 5em;

}

div#box2 img {
    width: 100%; 
    height: auto;
	padding: .4em;
    margin: .1em;
    background-color: rgba(224, 131, 103, 0.529);

}

.shihiro{
    cursor: move;
}
#footer {
    position:fixed;
    bottom:0;
    width:100%;
    z-index:1;
} 

/* contenedor de arriba */
#cont{
    width: 90%;
	max-width: 425px;
    margin: 3px auto;
    height: 21em;
} 

#cont-one{
    width: 30%;
}

#cont-two{
    width: 68%;
}

#b1,#b2,#b3{
    height: 7em;
    width: 100%;
    background-color: rgba(224, 131, 103, 0.529);
}

#b4,#b5{
    height: 10.5em;
    width: 100%;
    background-color: rgba(224, 131, 103, 0.529);
}

.dropImage{
    max-height: 100% !important;
}




